# Copyright 2026 Jan-Willem Smaal <usenet@gispen.org>
# SPDX-License-Identifier: Apache-2.0

menu "MIDI Synth Options"

config AUDIO_SAMPLE_RATE
	int "Sample Rate (Hz)"
	default 96000
	help
	  System audio sample rate. Possible values 8000, 16000, 32000 etc.

config VOICECARD_VOICES
	int "Number of voices"
	default 32
	help
	  Number of voices support.  Multiples of 2.  2, 4, 8, 16 etc...

config AUDIO_BIT_WIDTH
	int "Sample Bit Width"
	default 16
	help
	  Audio bit depth (currently only 16 bit works!)

endmenu

source "Kconfig.zephyr"
