/*
 * Copyright 2026 Jan-Willem Smaal <usenet@gispen.org>
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	aliases {
		i2s-tx = &sai1;
		sw2    = &user_button_2;
	};

	midi0: midi0 {
		status = "okay";
		compatible = "midi1_serial";
		uart = <&flexcomm2_lpuart2>;
	};
};

/* Enable SW2 (defined but disabled in the upstream board DTSI) */
&user_button_2 {
	status = "okay";
};

&sai1 {
	status = "okay";
	pinctrl-0 = <&pinmux_sai1_custom>;
	pinctrl-names = "default";
	nxp,tx-channel = <1>; /* Bitmask: 1 = Channel 0 (TXD0) */
	mclk-output;          /* MANDATORY for MCXN947 */
};

/* MIDI on Arduino D0/D1 */
&flexcomm2_lpuart2 {
	status = "okay";
	current-speed = <31250>;
};

&pinctrl {
	pinmux_sai1_custom: pinmux_sai1_custom {
		group0 {
			pinmux = <SAI1_TX_BCLK_PIO3_16>,   /* J1 Pin 1  - Bit Clock */
				 <SAI1_TX_FS_PIO3_17>,     /* J1 Pin 11 - Frame Sync (LRCK) */
				 <SAI1_TXD0_PIO3_20>,      /* J1 Pin 5  - Data Out */
				 <SAI1_RX_BCLK_PIO3_18>;   /* J1 Pin 9  - Bit Clock (Shared) */
			drive-strength = "high";
			slew-rate = "fast";
			input-enable;
		};
	};
};
